<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Домашняя страница</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <table width="100%" border="1">
        <tr>
            <td>Пн</td>
            <td>Вт</td>
            <td>Ср</td>
            <td>Чт</td>
            <td>Пт</td>
            <td>Сб</td>
            <td>Вс</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-warning" type="button">1</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">2</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">3</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">4</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">5</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">6</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">7</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-warning" type="button">8</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">9</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">10</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">11</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">12</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">13</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">14</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-warning" type="button">15</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">16</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">17</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">18</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">19</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">20</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">21</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-warning" type="button">22</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">23</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">24</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">25</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">26</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">27</button>
            </td>
            <td>
                <button class="btn btn-warning" type="button">28</button>
            </td>
        </tr>
    </table>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>